.rly-wrapper {
    * {
        font-family: 'Fira Sans', sans-serif;
    }
    button {
        color: blue;
        border-style: none;
        cursor:pointer;
        margin: 10px;
        width: 20%;
        height: 100%;
        font-size: 16px;
        border: 2px solid black;
        padding: 8px 12px;
        color: white;
        background: linear-gradient(to bottom, #9C27B0, #673AB7);
        border-radius: 8px;
        transition: .2s ease-in-out;
    }
    button:focus {
        outline: none;
    }
    .rly-btn {
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
        text-align: center;
    } 
    .rly-title{
        margin-bottom: 20px;
    }
    .rly-submit{
        margin-bottom: 0px auto;
        text-align: center;
    } 
    .rly-footer {
        font-family: Verdana;
        width: 100%;
        font-size: 10px;
        margin-top: 20px;
        height: 20px;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .rly-result {
        padding-top: 20px;
    }
    .rly-input{
        margin-top: 20px;
        width: 100%; 
        text-align: center;
    } 
    input {
        background: transparent;
        cursor:pointer;
        width: 97%;
        height: 100%;
        font-size: 16px;
        color: #333333;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        padding: 8px 12px;
        padding-right: 18px;
    }
    textarea {
        background: transparent;
        color: black;
        cursor:pointer;
        border: 0;
        width: 100%;
        height: 100%;
        font-size: 16px;
    }
    h1 {
        font-size: 64px;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    h4 {
        font-size: 16px;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}